.markdown-rendered pre .obsidian-embed-code-file {
    position: relative;
    top: 3px;
    left: 0px;
    font-size: 85%!important;
    padding: 3px 8px!important;
    border-radius: 0px!important;
    margin-top: -9px!important;
    margin-left:-9px!important;
    margin-right:-9px!important;
    margin-bottom:9px!important;
}
